<%- include('partials/header.ejs') %>
<h1>home page</h1>

<div class="friends">
 
  <% for(var i = 0; i < users.length; ++i) {%>
    
      
    <div class="list-items">
        <a href=/friends/<%=users[i].id %>>
            name: <%=users[i].firstName%> <br />
            surname:<%=users[i].surname%> <br />
            age:<%=users[i].age%><br />
            gender:<%=users[i].gender%>
            
          </a>
        </div>
        <% } %>
        
     
    </div>
    
  </main>
<%- include('partials/footer.ejs') %>
