<%- include('partials/header.ejs') %>
<h1>sugested friend</h1>

<H1>
  name: <%=users[id].firstName%> <br />
  surname:<%=users[id].surname%> <br />
  age:<%=users[id].age%><br />
  gender:<%=users[id].gender%>
</H1>

<%- include('partials/footer.ejs') %>
